#yt-unhook-btn {
  z-index: 10000;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border: none;
  width: 30px;
  height: 30px;
  background: white;
  box-shadow: 0 0 10px #00000044;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.7;

  transition: opacity 0.2s;
  transition: box-shadow 0.1s;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    box-shadow: 0 0 7px #00000033;
  }
}

#yt-unhook-close {
  position: relative;
  width: 18px;
  height: 18px;
  cursor: pointer;
  // margin-right: 16px;
  // border: 1px solid red;

  &::before,
  &::after {
    position: absolute;
    left: 9px;
    content: ' ';
    height: 18px;
    width: 1px;
    background-color: #333;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

#yt-unhook-menu {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: hsla(0, 0%, 0%, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    position: absolute;

    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 400;
    background: white;

    display: flex;
    flex-direction: column;

    .header {
      // background: red;
      padding: 16px 24px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #eee;
      align-items: center;
    }

    .content {
      display: flex;
      flex-direction: column;
      padding: 16px 24px;
    }

    label {
      background: white;
      cursor: pointer;
      user-select: none;

      input[type='checkbox'] {
        cursor: inherit;
        margin-right: 1rem;
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

.unhook-hidden {
  display: none !important;
}
